<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
   <ion-item *ngFor="let list of wishesService.lists"
             detail
             (click)="listaSelected( list )">
  <ion-label>{{ list.titulo }}</ion-label>

  <ion-note slot="end" color="tertiary">{{ list.items.length }} items</ion-note>

   </ion-item>
 </ion-list>

   <!-- fab placed to the top end -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="agregarList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
